
header{
text-align: center;
font-size: 450%;
font-family: 'Satisfy', cursive;
}
body{
	background-image: url(assets/da.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	margin-top:0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	width: 900px;
	height:610px;
	font-family: 'Indie Flower', cursive;
}
.middle{
	font-size:200%;
	padding-left: 30px;
	width: 650px;
}
.foot{
font-size: 150%;
padding-left: 10px;
}
footer{
	padding-top: 45px;
	padding-left: 40%;
}