
header{
text-align: center;
font-size: 450%;
font-family: 'Satisfy', cursive;
}
body{
	text-align: center;
	background-image: url(assets/da.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	margin-top:0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	width: 1200px;
	height:610px;
	font-family: 'Indie Flower', cursive;
}
.middle{
	font-size:200%;
	padding-left: 30%;
	width: 700px;
}
p{

}